<!DOCTYPE html>
<html>
  <head>
    <title>Questioner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 
  </head>
  <h1 class="container justify-content-center">
    <%= link_to "Questioner", root_path %>
  </h1>
  <div class="container justify-content-center">
    <div class="col-md-6">
      <%= link_to "Create New Survey", new_surveys_path %>
    </div>
    <div class="col-md-6">
      <%= link_to "Create New User", new_users_path %>
    </div>
  </div>
  <body>
    <%= yield %>


  </body>
</html>
